matplotlib==3.1.2
pandas==0.25.3
scipy==1.4.1
seaborn==0.10.0
numpy==1.18.1
pytest
pymc3==3.8
hypothesis==5.3.1
hypothesis-numpy==2.0.0
tensorly==0.4.5
parameterized==0.7.1
pytest-xdist
pytest-cov
scikit-learn==0.22.1
svgutils==0.3.1
FlowCytometryTools==0.5.0
synapseclient
gprof2dot
pylint
manubot==0.3.1
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
weasyprint==51
