matplotlib==3.2.1
pandas==1.0.3
scipy==1.4.1
seaborn==0.10.0
numpy==1.18.2
pytest==5.3.1
pytest-cov==2.8.1
scikit-learn==0.22.2.post1
svgutils==0.3.1
FlowCytometryTools==0.5.0
pylint==2.4.4
manubot==0.3.1
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
weasyprint==51
