matplotlib==3.3.1
pandas==1.1.1
scipy==1.5.2
seaborn==0.10.1
numpy==1.19.1
pytest==6.0.1
pytest-cov==2.10.1
scikit-learn==0.23.2
svgutils==0.3.1
pylint==2.6.0
manubot==0.4.1
pandoc-fignos==2.3.1
pandoc-eqnos==2.3.0
pandoc-tablenos==2.2.2
jupyter==1.0.0
git+git://github.com/eyurtsev/FlowCytometryTools.git@093057486ab0aeb2938537ddcfea36d3c1d14fd3
